<!--jbootstrap-->
<div class="p-4 mb-3 bg-light rounded-3">
    <div class="container-fluid py-4">
      <h1 class="display-4 fw-bold"> Book Appointment Now!</h1>
      <p class="col-md-7 fs-3">A fit body, a calm mind, a house full of love.....</p>
      <a class="btn btn-success"   routerLink="login" > Login/Register</a>&nbsp;
      <a class="btn btn-success"   routerLink="appointment-booking" > Appointment Now</a>&nbsp;
      <a href="" target="_top">Haven't Registered yet? click here </a>
    </div>
  </div>
  <h2 class="display-5 text-dark fw-bold">Top Rated doctors Which you might like!</h2>
<!-- Table for doctors-->
<div class="tab">
<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Doctor Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Type</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>100</td>
            <td>Kamat</td>
            <td>Kamat@gmail.com</td>
            <td>Dentist</td>
        </tr>
        <tr>
            <td>101</td>
            <td>Shirkhay</td>
            <td>Shirkhay@gmail.com</td>
            <td>Orthology</td>
        </tr>
        <tr>
            <td>102</td>
            <td>Abishek</td>
            <td>Abishek@gmail.com</td>
            <td>General</td>
        </tr>
        <tr>
            <td>103</td>
            <td>Mayur</td>
            <td>mayur@gmail.com</td>
            <td>Ayurvedic</td>
        </tr>

    </tbody>
</table>
</div>
